body {
   padding-left: 0;
   padding-right:0;
   font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: #FFF;

}
html{
font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
line-height: 1.5;
font-size: 15px;
font-weight: 400;
}
.menuB{
    padding: 0px;
}

#botoneraEjecucion1{
    margin-bottom: 10px;
    float: right;
}
#panelTOTAL{
   background-color: #f5e79e;
   padding-right:1em;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom:150px;
    border-width: 0px;
    box-shadow: none;
    width:60%;
}

.btn{
    overflow: hidden;
}

#panelIde{
    margin-top: 60px;
}
#panelCode{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#panelCompilado{
    height:80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#panelRegistros{
    
}
#tipoEjecucion{
    padding-right: 5px;
    padding-left: 0px;
    display: block !important;
}
.btn-group.bootstrap-select.col-md-8 {
    padding-right: 5px;
    padding-left: 0px;

}
#compilar{
    float: right;
}
.tablaRegistro{
    padding-top:5px;
    padding-bottom:5px;
}
.link-footer {
    background: #111;
    padding: 0px 0 60px;
    position: relative;
}
#linksFooter{
    padding-top: 40px;
}
.link-footer .copyright {

    position: absolute;
    right: 20px;
    top: 0;
    text-align: right;
    font-size: 0.8rem;
    color: #959595;

}
.link-footer nav {

    margin: 0 0 8px 0;

}
.width-wrapper {

    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;

}
#logo{
    float:right;
}
#ejecutar{
    float:right;
}
#dirInicio{
    resize: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    height: 30px;
    width: 40px;
    border-width: 0px;
    background-color: #ddd;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}
#labeldirinicio{
    padding-right: 0px;
}
#ventanas{
    float: right;
}
#codigoCompilado{
    width:100%;
    background-color: #ddd;
    border: 0px;
    padding: 10px 20px;
}

@media only screen and (min-width: 768px){
    .colDerecha{
        float:right;
    }
}
    #botoneraEjecucion2{
        display: none;
    }

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}

    .col-xs-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-xs-6{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-xs-4{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-xs-5{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-xs-8{
        padding-left: 0px;
        padding-right: 0px;
    }
    #bodyRegistro{
        overflow-x: auto;
    }
    
    #bodyMemoria{
        overflow-x: auto;
    }
    #botoneraEjecucion{
        display: none;
    }
    .itemHome{
        width: 100%;
    }
    .itemImg{
        float: initial;
        width: 50%;
    }
    .botonhAdd{
        width: 100%;
        margin-bottom: 5px;
    }
    .botonDrive{
        width: 49%;
        padding: 20px;
        float: inline-start;
    }
    .botonUpload{
        width: 49%;
        padding: 20px;
        float: inline-end;
    }
    #botoneraEjecucion1{
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
    }
}

.panel-title{
    text-align:center;
    padding-right: 0px;
}
#row1{
    margin-bottom:10px;
}
#row2{
    margin-bottom:0px;
}
.th{
    padding-top:5px;
    padding-bottom:5px;
}
.table.table-bordered {

    margin-bottom: 5px;
}
.tablaMemoria:hover {
    background-color: #ddd;
}
.tablaRegistro:hover {
    background-color: #ddd;
}
#botoneraEjecucion{
    margin-bottom: 10px;
}
.ms-choice > span.placeholder {
    color: #999;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.ms-choice > span{
    text-align: center;
    color: #999;
    padding-left: 20px;
    padding-right: 20px;
}
.btn.btn-default.col-md-1.closebutton{
    padding: 0px;
}
.panel-default > .panel-heading{
    height: 40px;
}
.panel-heading {
    text-align: center;
    height: 40px;
}
.h5.tablaRegistro {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
.table > thead > tr > th.registroH{
    padding-top:3px;
    padding-bottom:3px;
    text-align:center;
}
.h5.tablaRegistro.Ultimo {
    color: #3041a1;
    font-weight: 900;
    font-size: initial;
}
.h5.tablaMemoria.ultimaMemoria {
    color: #3041a1;
    font-weight: 900;
    font-size: initial;
}
.h5.tablaMemoria.pcMemoria {
    color: white;
    font-weight: 900;
    font-size: initial;
    background-color: #f34040;
}
.h5.tablaMemoria.irMemoria {
    color: white;
    font-weight: 900;
    font-size: initial;
    background-color: #4062f3;;
}
