 <div th:fragment="bodyContenido">
        <div th:include="componentes/encabezado::navBar"></div>
        <div th:include="componentes/archivoAbierto::archivoAbierto"></div>
        <div class="container-fluid" id="panelIde">
            <modal-example-app></modal-example-app>
    		<div class= "col-md-12">
                <modal-mensaje-app :modal="modal"></modal-mensaje-app>
                <botonera-ventanas-app></botonera-ventanas-app>
                <botonera-ejecucion-app :botonera="botoneraEjecucion"></botonera-ejecucion-app>
            </div>
            <div class= "col-md-12">
         	    <panelcode-app :panel="panelCode" :index="0" v-if="panelCode.ver"></panelcode-app>
                <panelcompilado-app :panel="panelCompilado" :index="1" v-if="panelCompilado.ver"></panelcompilado-app>
                <panelsimulacion-app :panel="panelSimulacion" :index="2" v-if="panelSimulacion.ver"></panelsimulacion-app>
            </div>
    	</div> 
        <div th:include="componentes/footer::footer"></div>

        <!--Funciones-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/resources/javascripts/vue.js" type="text/javascript"></script>
        <script src="/resources/javascripts/bootstrap-select.js"></script>

        <!-- Templates-->
       
        <div th:include="componentes/Templates::Templates"></div>
        
        <!--Funciones Vue--> 
        <script src="/resources/javascripts/funciones.js" type="text/javascript"></script>
        <script src="/resources/javascripts/components.js" type="text/javascript"></script> 
</div>        
