 <div th:fragment="bodyContenido">
        <div th:include="componentes/encabezado::navBar"></div>
        <div th:include="componentes/archivoAbierto::archivoAbierto"></div>
        <div class="container-fluid" id="panelIde">
    		<div class= "col-md-12">
                <modal-mensaje-app :modal="modal"></modal-mensaje-app>
                <botonera-ventanas-app></botonera-ventanas-app>
                <botonera-ejecucion-app :botonera="botoneraEjecucion"></botonera-ejecucion-app>
            </div>
            <div class= "col-md-12">
         	    <panelcode-app :panel="panelCode" :index="0" v-if="panelCode.ver"></panelcode-app>
                <panelcompilado-app :panel="panelCompilado" :index="1" v-if="panelCompilado.ver"></panelcompilado-app>
                <panelsimulacion-app :panel="panelSimulacion" :index="2" v-if="panelSimulacion.ver"></panelsimulacion-app>
            </div>
    	</div> 
        <div th:include="componentes/footer::footer"></div>
</div>        
