<div th:fragment="botoneraVentanasTemplate">
    <!--Botonera Ventanas-->
    <script type="text/x-template" id="botoneraVentanasTemplate">
        <div>
            <div id="botoneraEjecucion" class="btn-group col-xs-12 col-md-7">
                <a href="/" class="btn btn-default col-md-6 col-xs-4" id="volver" title="Volver">
                    Volver
                </a>
                <select id="ventanas" class=" selectpicker " 
                    title="Ventanas Habilitadas" data-selected-text-format="count" data-width="50%"
                    multiple="multiple" data-style="btn-default col-md-6 col-xs-8" >
                    <option value="0">Codigo Fuente</option>
                    <option value="1">Codigo Compilado</option>
                    <option value="2">Simulacion</option>
                </select>
            </div>
            <div class="btn-group col-xs-12 col-md-7" id="botoneraEjecucion2">
                <a class="btn btn-primary col-md-6 col-xs-6" title="Panel Anterior" id="panelAnterior" href="/">&lt;&lt;- Panel Anterior</a>
                <a class="btn btn-primary col-md-6 col-xs-6" title="Panel Siguiente" id="panelSiguiente" href="/">Panel Siguiente -&gt;&gt;</a> 
            </div>
        </div>
    </script>
    <!--Componente de la Botonera Ventana-->
    <script type="text/javascript">
        Vue.component('botonera-ventanas-app',{
          template: '#botoneraVentanasTemplate'
        });
    </script>
</div>