<div th:fragment="botoneraVentanasTemplate">
    <!--Botonera Ventanas-->
    <script type="text/x-template" id="botoneraVentanasTemplate">
        <div id="botoneraEjecucion" class="btn-group col-xs-12 col-md-7">
            <a href="/" class="btn btn-default col-md-6" id="volver" title="Volver">
                Volver
            </a>
            <select id="ventanas" class="col-md-6 selectpicker" 
                title="Ventanas Habilitadas" data-selected-text-format="count"
                multiple="multiple">
                <option value="0">Codigo Fuente</option>
                <option value="1">Codigo Compilado</option>
                <option value="2">Simulacion</option>
            </select>
        </div>
    </script>
</div>