<div th:fragment="botonDesplegarTemplate">
    <!--Boton Desplegar -->
    <script type="text/x-template" id="botonDesplegarTemplate">
        <button type="button" :title="getTitle" class="btn btn-default col-md-1 col-xs-1 closebutton" 
        data-toggle="collapse" :data-target="getTarget" @click="toogle">
            <span class="glyphicon" :class="getIcono" aria-hidden="true"></span>
        </button>
    </script>
    <script type="text/javascript">
    	//Componente Boton de Desplegar
		Vue.component('botonDesplegar',{
		  template: '#botonDesplegarTemplate',
		  props: ['targets', 'desplegado'],
		  data:function(){
		      return {
		          desp:this.desplegado
		      };
		  },
		  computed:{
		      getTitle: function(){
		        if(this.desp)
		          return "Colapsar Panel";
		        else
		          return "Desplegar Panel";
		      },
		      getTarget: function(){
		        return this.targets;
		      },
		      getIcono: function(){
		        return{
		          'glyphicon-minus':this.desp,
		          'glyphicon-plus':!this.desp,
		        };
		      }
		  }, 
		  methods:{
		    toogle:function(){
		      this.desp=!this.desp;
		    } 
		  }
		});
    </script>
</div>