<div th:fragment="botoneraEjecuccionTemplate">
  <!--Botonera Ejecucion-->
  <script type="text/x-template" id="botoneraEjecuccionTemplate">
        <div id="botoneraEjecucion1" class="btn-group col-md-5 col-xs-12">
          <button type="button" class="btn btn-default col-md-6 col-xs-6" :disabled="disableSiguiente" 
          title="Ejecutar Siguiente Instrucción"  @click="obtenerSiguientePaso" id="siguientePaso">
            Siguiente Paso
          </button>
          <button type="button" class="btn btn-default col-md-6 col-xs-6" :disabled="!botonera.ejecutando" title="Detener Ejecución" 
          @click="detenerEjecucion" id="detener">
            Detener Ejecución
          </button>
        </div>
  </script>
  <script type="text/javascript">
    //Componente BotoneraEjecucion (Siguiente, Detener)
    Vue.component('botonera-ejecucion-app',{
      template: '#botoneraEjecuccionTemplate',
      props: ['botonera'] ,
      data:function(){
          return {
              asincr:true
          };
      },
      computed:{
          disableSiguiente: function(){
              return !(this.botonera.habilita_PAP && this.asincr);
          }
      },
      methods:{
        obtenerSiguientePaso:function(){
          if(this.asincr){
            this.asincr=false;
            $.ajax({
              method: "GET",
              url: "/siguientePaso?id="+vm.id, 
              success: function(data,textStatus){
               interpretarData(data);
               this.asincr=true;
              },
              error:function(textStatus,errorThrown){
                console.log("Error "+errorThrown+": "+JSON.stringify(textStatus));
              }
            });
          }
        },
        detenerEjecucion:function(){
          $.ajax({
            method: "GET",
            url: "/detenerEjecucion?id="+vm.id, 
            success: function(data,textStatus){
              interpretarData(data);
              vm.habilita_EjecucionPAP(false);
              vm.setearEjecutando(false);
            },
            error:function(textStatus,errorThrown){
              console.log("Error "+errorThrown+"... "+textStatus);
            }
          });
          compilarCodigoFuente(vm.panelCode.value,vm.panelCode.direccionInicio);
        }    
      }
    });
  </script>
</div>