<div th:fragment="botoneraEjecuccionTemplate">
  <!--Botonera Ejecucion-->
  <script type="text/x-template" id="botoneraEjecuccionTemplate">
        <div id="botoneraEjecucion1" class="btn-group col-md-5">
          <button type="button" class="btn btn-default col-md-6" :disabled="!botonera.habilita_PAP" title="Ejecutar Siguiente Instrucción" 
           @click="obtenerSiguientePaso" id="siguientePaso">
            Siguiente Paso
          </button>
          <button type="button" class="btn btn-default col-md-6" :disabled="!botonera.ejecutando" title="Detener Ejecución" 
          @click="detenerEjecucion" id="detener">
            Detener Ejecución
          </button>
        </div>
    </script>
  </div>