<div th:fragment="codeTemplate">
    <!--CodigoFuente-->
    <script type="text/x-template" id="codeTemplate">
        <div id="contenedorCode" class="col-xs-12" :class="getBigSize">
            <div class="panel panel-default" id="panelCode">
                <div class="panel-heading">
                    <h3 style="" class="panel-title col-md-8">Codigo Fuente</h3> 
                    <a href="javascript:doClick()" title="Abrir Archivo" class="btn btn-default col-md-2 menuB">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    </a>
                    <button class="btn btn-default col-md-2 menuB" title="Descargar Codigo Fuente" @click="descargarFuente">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>               
                </div>
                <div class="panel-body">
                    <form role="form">
                        <textarea id="sourceCode"
                          class="form-control source-code"
                          style="margin-bottom:5px;"
                          rows="20"
                          tab-support
                          select-line
                          placeholder="Ingrese Código Fuente..."
                          v-model="panel.value">
                        </textarea>
                        <div id="barraCompilar">
                          <h5 class="col-md-6" id="labeldirinicio">Direccion de Inicio:</h5>
                          <textarea id="dirInicio" class="col-md-2" rows="1" cols="2" title="Dirección de Inicio" 
                          maxlength="2" v-model="panel.direccionInicio">
                          </textarea>
                          <button type="button" class="btn btn-default col-md-4" 
                          id="compilar" title="Compilar Codigo Fuente" @click="Compilar">
                            Compilar
                          </button>
                        </div> 
                    </form>
              </div>
           </div>
        </div>
    </script>
    <script type="text/javascript">
      //Componente Panel de Codigo
      Vue.component('panelcode-app',{
        template: '#codeTemplate',
        props: ['panel','index'],
        computed:{
          getPanel: function(){
              return this.panel;
            },
          getBigSize: function(){
              return "col-md-"+this.panel.size;
            },
        },
        created: function () {
          EventBus.$on('cambioSizePanel', function (cambios) {
            if(cambios.index == this.index)
              this.panel.ver=cambios.ver;
          }.bind(this));
          EventBus.$on('newSize', function (sizes) {
            if(this.panel.size!=sizes[this.index])
              this.panel.size=sizes[this.index];
          }.bind(this));
        },
        methods:{
          Compilar:function(){
            compilarCodigoFuente(this.panel.value,this.panel.direccionInicio);
          },
          descargarFuente:function(){
            descargarArchivo(generarTexto(this.panel.value), 'archivo.ocuns');
          }
        }      
      });
      function leerArchivo(e) {
        var archivo = e.target.files[0];
        if (!archivo) {
          return;
        }
        var lector = new FileReader();
        lector.onload = function(e) {
          var contenido = e.target.result;
          vm.panelCode.value=contenido;
        };
        lector.readAsText(archivo);
      }
      function doClick() {
        var el = document.getElementById("archivoAbierto");
        if (el) {
          el.click();
        }
      }
      function compilarCodigoFuente(value,direccionInicio){
        var dataBody={"codigoFuente":value, "direccionInicio": direccionInicio};
          $.ajax({
            method: "POST",
            url: "/compilar?id="+vm.id, 
            data: JSON.stringify(dataBody),  
            headers:{ "Content-Type": "application/json"  },
            success: function(data,textStatus){
              vm.resetAll();
              interpretarData(data);
              vm.resetIR();
            },
            error:function(textStatus,errorThrown){
              console.log("Error "+errorThrown+": "+JSON.stringify(textStatus));
            }
        });
      }
    </script>
</div>