<div th:fragment="compiladoTemplate">  
    <!--CodigoCompilado-->
    <script type="text/x-template" id="compiladoTemplate">
        <div id="contenedorCompilado" class="col-xs-12" :class="getBigSize">
            <div class="panel panel-default" id="panelCompilado">
               <div class="panel-heading">
                    <h3 class="panel-title col-md-10">Compilado</h3> 
                    <button title="Descargar Codigo Compilado" class="btn btn-default col-md-2 menuB"
                    @click="descargarCompilado">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                   <form role="form">
                        <textarea id="codigoCompilado"
                          rows="20"
                          v-model="panel.value"
                          readonly>     
                        </textarea>
                        <div id="barraCompilar">
                            <select class="selectpicker col-md-8" id="tipoEjecucion">
                                <option>De a 1 Instrucción</option>
                                <option>Todo el Código</option>
                            </select>   
                            <button type="button" class="btn btn-default col-md-4" title="Ejecutar" 
                                :disabled="!panel.habilitaEjecucion" 
                                @click="ejecutar" id="ejecutar">
                                Ejecutar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>  
    <script type="text/javascript">
        //Componente Panel de Compilacion
        Vue.component('panelcompilado-app',{
          template: '#compiladoTemplate',
          props: ['panel','index'],
          computed:{
            getPanel: function(){
                return this.panel;
              },
            getBigSize: function(){
                return "col-md-"+this.panel.size;
              },
            getPanel: function(){
                return this.panel;
              }
          },
          created: function () {
            EventBus.$on('cambioSizePanel', function (cambios) {
              if(cambios.index == this.index)
                this.panel.ver=cambios.ver;
            }.bind(this));
            EventBus.$on('newSize', function (sizes) {
                this.panel.size=sizes[this.index];
            }.bind(this));
          },
          methods:{
            descargarCompilado:function(){
              descargarArchivo(generarTexto(this.panel.value), 'compilado.txt');
            },
            ejecutar: function(){
              //controlar si es ejecucion paso a paso
              if(this.panel.tipoEjecucion==0)
                this.iniciarEjecucion();
              else
                this.ejecutarTodo();
            },
            ejecutarTodo:function(){
                $.ajax({
                  method: "GET",
                  url: "/iniciarEjecucion?id="+vm.id, 
                  success: function(data,textStatus){
                  interpretarData(data);
                  seguirEjecutando();
                  },
                  error:function(textStatus,errorThrown){
                    console.log("Error "+errorThrown+": "+JSON.stringify(textStatus));
                  }
                });
            },
            iniciarEjecucion:function(){
              $.ajax({
                method: "GET",
                url: "/iniciarEjecucion?id="+vm.id, 
                success: function(data,textStatus){
                 interpretarData(data);
                },
                error:function(textStatus,errorThrown){
                  console.log("Error "+errorThrown+": "+JSON.stringify(textStatus));
                }
              });
            }
          }
        });
        
      function seguirEjecutando(){
        $.ajax({
            method: "GET",
            url: "/siguientePaso?id="+vm.id, 
            success: function(data,textStatus){
             interpretarData(data);
             if(vm.botoneraEjecucion.ejecutando)
                seguirEjecutando();
            },
            error:function(textStatus,errorThrown){
                  console.log("Error "+errorThrown+": "+JSON.stringify(textStatus));
            }
         });
      }
    </script> 
</div>