<div th:fragment="headingTemplate">
	<!--Heading-->
	<script type="text/x-template" id="headingTemplate">
	    <div class="panel-heading">
	        <h3 class="panel-title col-md-11 col-xs-11">{{getTitulo}}</h3>
	        <botonDesplegar :targets="targets" :desplegado="desplegado"></botonDesplegar>
	    </div>
	</script>
	<script type="text/javascript">
		//Componente Heading de Panel
		Vue.component('panelheading',{
		  template: '#headingTemplate',
		  props: ['targets', 'titulo','desplegado'],
		  computed:{
		      getTarget: function(){
		        return this.targets;
		      },
		      getTitulo: function(){
		        return this.titulo;
		      }
		  }  
		});
	</script>
</div>