<div th:fragment="logsTemplate">
    <!--Panel de Logs-->
    <script type="text/x-template" id="logsTemplate">
         <div class="panel panel-default col-xs-12" id="panelLogs">
                <div class="panel-heading">
                <h3 class="panel-title col-md-9 col-xs-9">Logs del Sistema</h3>
                <button class="btn btn-default col-md-1 col-xs-1 menuB" title="Borrar Logs"  
                    @click="borrarLogs">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button title="Descargar Logs" class="btn btn-default col-md-1 col-xs-1 menuB"
                    @click="descargarLogs">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>
                <botonDesplegar targets="#bodyLog" :desplegado="logs.desplegado">
                </botonDesplegar>
            </div>
            <div class="panel-body collapse" id="bodyLog">
                <table class="table table-bordered" id="tablaMemoria">
                    <tbody>
                        <textarea id="Logs"
                          class="form-control source-code"
                          style="margin-bottom:5px;"
                          rows="5"
                          tab-support
                          select-line
                          v-model="logs.value"
                          readonly></textarea>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/javascript">
      //Componente Panel de Logs
      Vue.component('panellogs-app',{
        template: '#logsTemplate',
        props: ['logs'],
        computed:{
          getLogs: function(){
              return this.logs;
            }
        },
        methods:{
          descargarLogs:function(){
            descargarArchivo(generarTexto(this.logs.value), 'logs.txt');
          },
          borrarLogs:function(){
            this.logs.value="Logs:\n";
          }   
        }
      });
    </script>
</div>
