<div th:fragment="modalFileTemplate">
    <!--Modal de Mensaje-->
        <div class="modal fade" id="mostrarmodalfile" tabindex="-1" role="dialog" 
            aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="bodyAbrir">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1>Abrir Archivo</h1>    
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:doClick2()" title="Abrir Archivo" class="btn btn-primary col-md-6 ">Cargar Archivo
                        </a>
                        <a data-dismiss="modal" class="btn btn-danger col-md-5">Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>