<div th:fragment="simulacionTemplate">
    <!--Panel Simulacion--> 
    <script type="text/x-template" id="simulacionTemplate">
        <div id="contenedorSimulacion"  class="col-xs-12" :class="getBigSize">
                <div id="panelSimulacion">
                    <registro-panel-app :registros="panel.registros"></registro-panel-app>
                    <panelmemoria-app :memorias="panel.memorias"></panelmemoria-app>
                    <panellogs-app :logs="panel.logs"></panellogs-app>
                </div>
            </div>
    </script>
    <script type="text/javascript">
        //Componente Panel de Simulacion
        Vue.component('panelsimulacion-app',{
          template: '#simulacionTemplate',
          props: ['panel','index'],
          computed:{
            getPanel: function(){
                return this.panel;
              },
            getBigSize: function(){
                return "col-md-"+this.panel.size;
              },
          } ,
          created: function () {
            EventBus.$on('cambioSizePanel', function (cambios) {
              if(cambios.index == this.index)
                this.panel.ver=cambios.ver;
            }.bind(this));
            EventBus.$on('newSize', function (sizes) {
                this.panel.size=sizes[this.index];
            }.bind(this));
          }  
        });
    </script>
</div>