<!DOCTYPE html>
<html>
  <head>
    <title>OCUNS-Entorno Web</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link  id="cssArchivo" rel="stylesheet" type="text/css" href = "resources/stylesheets/Formato2.css" />

  </head>
 <body>
    <div th:include="fragmentos/encabezado::navBar"></div>
    
    <div class="container-fluid" id="panelIde">
		<div class="col-md-12">
			
		<div style="text-align: center; align-content: center; align-items: center;" class="inner cover">
            <h1 class="cover-heading">Sobre mi</h1>
            <p class="lead">Aca deberia insertar una descripción de mi, asi como tambien deberia poner mis contactos, es algo que voy a hacer al final. No deberia olvidarme de escribir esta seccion, dado que si queda este texto seria muy gracioso y le quitaria toda la seriedad a esta pagina. 
            </p>           
            </div>
        </div>
    </div>
    <div th:include="fragmentos/footer::footer"></div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>
</html>