<!DOCTYPE html>
<html>
  <head>
    <title>OCUNS-Entorno Web</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link  id="cssArchivo" rel="stylesheet" type="text/css" href = "resources/stylesheets/Formato2.css" />

  </head>
 <body>
    <div th:include="componentes/encabezado::navBar"></div>
      <div class="container-fluid" id="panelIde">
          <div class="container">
          <!-- Page Heading -->
          <h1 style="margin-bottom: 30px;" class="my-4">Material de Ayuda
            <small>Entorno Web OCUNS</small>
          </h1>

          <!-- Set de Intrucciones -->
          <div class="row">
            <div class="col-md-9">
              <a href="">
                <img class="img-fluid rounded mb-3 col-md-12" src="resources/images/help1.png" alt="Set de Intrucciones">
              </a>
            </div>
            <div class="col-md-3">
              <h3>Set de Intrucciones</h3>
              <p>El lenguaje OCUNS posee un set de 16 instrucciones, codificadas por un opcode de un unico caracter hexadecimal (0-F). </p><p>Las intrucciones pueden dividirse en 3 grupos con formatos diferenciado (I, II y III). Asi como se cuenta con una variedad de operaciones (con distinta cantidad de registros necesarios) tambien se pueden reconocer varios modos de direccionamientos</p><p>En la imagen puede apreciarse el pseudocódigo que explica la semantica de cada operación.</p>
              
            </div>
          </div>
          <!-- /.row -->

          <hr>

          <!-- Formatos de las Intrucciones -->
          <div class="row">
           <div class="col-md-7">
              <h3>Formatos de las Intrucciones</h3>
              <p>Existen 3 formatos de intrucción en el lenguaje de la arquitectura OCUNS. El primer formato comprende los opcodes en el rango [0-7] y posee 3 campos,2 pertencientes a registros,el registro destino (RD) y registro fuente (RS) y un tercer campo que puede ser un desplazamiento codificado en complemento a 2 o un segundo registro fuente</p>
              <p>El segundo formato comprende los opcodes en el rango [8-11] y posee 2 (tres) campos,un registros nombrados como registro destino (RD) y dirección de memoria (Constante de 1 Byte)</p>
              <p>Por ultimo El tercer formato posee solo el registro destino (RD)</p>
          </div>
       <div class="col-md-5">
              <a href="">
                <img class="img-fluid rounded mb-3 mb-md-0 col-md-12" src="resources/images/help2.png" alt="Formatos de intruccion">
              </a>
            </div>
          </div>
          <!-- /.row -->

          <hr>

          <!-- Seleccion de Ventanas -->
          <div class="row">
            <div class="col-md-9">
              <a href="">
                <img class="img-fluid rounded mb-3 col-md-12" src="resources/images/help2b.png" alt="Seleccion de Ventanas">
              </a>
            </div>
            <div class="col-md-3">
              <h3>Seleccion de Ventanas</h3>
              <p>Para la comodidad del usuario,el entorno web OCUNS permite seleccionar que paneles pueden permanecer visibles y cuales ocultos redimensionandose los paneles que queden visibles para aprovechar de la mejor forma el espacio disponible</p>
            </div>
          </div>
   <!-- /.row -->

          <hr>

          <!-- Compilar -->
          <div class="row">
           <div class="col-md-4">
              <h3>Compilar un Programa</h3>
              <p>El entorno permite abrir programas almacenados en tu ordenador en cualquier momento, como asi tambien descargar el codigo que actualmente esta escrito en el panel de compilación.</p>
              <p>Ademas posee la opcion de especificar la direccion de Inicio de cargado del programa en memoria, que se reprensenta con dos digitos hexadecimales</p>
          </div>
       <div class="col-md-8">
              <a href="">
                <img class="img-fluid rounded mb-3 mb-md-0 col-md-12" src="resources/images/help3.png" alt="Panel de Compilacion">
              </a>
            </div>
          </div>
          <!-- /.row --> 
          <hr>

          <!-- Codigo Compilado -->
          <div class="row">
            <div class="col-md-4">
              <a href="">
                <img class="img-fluid rounded mb-3 col-md-12" src="resources/images/help4.png" alt="Panel Compilado">
              </a>
            </div>
            <div class="col-md-8">
              <h3>Codigo Compilado</h3>
              <p>Luego de realizar una compilación exitosa, el codigo compilado se escribira automaticamente en el panel de Codigo Compilado. A diferencia delpanel de código fuente, este no es editable pero permite la opción de descargar su contenido en un archivo.</p>
              <p>El formato del contenido sera el siguiente: "direccion h. codigo-compilado ||traduccion-del-codigo".</p>
              <p>El codigo puede Ejecutarse instruccion por intruccion o de corrido.</p>
            </div>
          </div>
  <!-- /.row -->

          <hr>

          <!-- Ejecucion -->
          <div class="row">
           <div class="col-md-4">
              <h3>Ejecucion</h3>
              <p>El entorno permite ver como se modifican la memoria y los registros a medida que se ejecuta el codigo maquina correspondiente a la compilacion del programa.</p>
              <p>Es visible enlos paneles desplegable no solo elcontenido de la memoria y los registros sino tambien datos como ultimas celdas de memoria modificadas, ultimo registro modificado, el valor del PC y el valor del IR</p>
          </div>
       <div class="col-md-8">
              <a href="">
                <img class="img-fluid rounded mb-3 mb-md-0 col-md-12" src="resources/images/help5.png" alt="Ejecucion">
              </a>
            </div>
          </div>
          <!-- /.row --> 
          <hr>

          <!-- Codigo Compilado -->
          <div class="row">
            <div class="col-md-8">
              <a href="https://tinyurl.com/OCUNS-casosdePrueba">
                <img class="img-fluid rounded mb-3 col-md-12" src="resources/images/help6.png" alt="casos de Prueba">
              </a>
            </div>
            <div class="col-md-4">
              <h3>Ejemplos de Prueba</h3>
              <p>Para conocer mejor la sintaxis del lenguaje podes consultar los programas de prueba que dejamos a tu disposicion</p>
              <a href="https://tinyurl.com/OCUNS-casosdePrueba" class="btn btn-lg btn-primary col-md-10">Visitar Casos de Prueba</a>
            </div>
          </div>
      </div> 
          
      </div>
      <div th:include="componentes/footer::footer"></div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>