<!DOCTYPE html>
<html>
  <head>
    <title>OCUNS-Entorno Web</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link  id="cssArchivo" rel="stylesheet" type="text/css" href = "resources/stylesheets/Formato2.css" />

  </head>
 <body>
    <div th:include="fragmentos/encabezado::navBar"></div>

    <div class="container-fluid" id="panelIde">
      <div class="col-md-12">
        <div style="text-align: center; align-content: center; align-items: center;" class="inner cover">
          <h1 class="cover-heading">OCUNS Entorno Web</h1>
          <p class="lead">Esta pagina es una adaptación del Entorno Integrado para la Arquitectura OCUNS. Fue diseñada con la finalidad de poder verificar los ejercicios de analisis y sintesis propuestos por la catedra de Organización de Computadoras de la Universidad Nacional del Sur.
          </p>
          <a class="btn btn-default botonhAdd" href="/ide/new">
            <img class="itemImg"src="resources/images/add-a-button-icon-65041.png" heigth="128" width="128">
            <p class="itemHome">Crear Archivo Nuevo</p>
          </a>
          <a class="btn btn-default botonUpload" href="/ide/file">
           <img class="itemHome" src="resources/images/folder-icon.png">
           <p class="itemHome">Subir desde Archivo</p>
          </a>
          <a class="btn  btn-default botonDrive" href="#">
           <img class="itemHome" src="resources/images/Google-Drive-icon.png">
           <p class="itemHome">Importar de GDrive</p>
          </a>
          <div class="col-md-12" id="examp2">
            <a class="btn  btn-default col-md-6 col-xs-12" id="examp" href="/ide/example">
              <img  src="/resources/images/puzzle.png" width="64">
              Cargar un Ejemplo de Prueba
            </a>
          </div>
        </div>
      </div>
    </div>
    <div th:include="fragmentos/footer::footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>
</html>