<!DOCTYPE html>
<html>
  <head>
    <title>OCUNS-Entorno Web</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link  id="cssArchivo" rel="stylesheet" type="text/css" href = "resources/stylesheets/Formato2.css" />

  </head>
 <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">OCUNS Entorno Web</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/help">Ayuda</a></li>
            <li><a href="/about">Sobre Mi</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid" id="panelIde">
		<div class="col-md-12">
			
		<div style="text-align: center; align-content: center; align-items: center;" class="inner cover">
            <h1 class="cover-heading">OCUNS Entorno Web</h1>
            <p class="lead">Lorem ipsum dolor sit amet, omnis dissentias appellantur at sit. In suas mnesarchum est, animal nominavi adolescens ea pro. Perpetua sententiae te has. Dico oratio et quo, usu ut illud necessitatibus. Mollis iriure cu qui.
            </p>
            <a class="btn  btn-default" href="#">
			  <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/128/Google-Drive-icon.png">
			  <p>Importar de GDrive</p>
			</a>
          	<a class="btn btn-default" href="#">
			  <img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/128/folder-icon.png">
			  <p>Subir desde Archivo</p>
			</a>
			<a class="btn btn-default" href="/ide">
  				<img src="http://downloadicons.net/sites/default/files/add-a-button-icon-65041.png" heigth="128" width="128">
  				<p>Crear Archivo Nuevo</p>
			</a>
        </div>
		<footer>
		<p><br></p>
        <p>© 2018 OCUNS, SRB.</p>
      </footer>
 
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>
</html>