<div th:fragment="modalFileTemplate">
    <!--Modal de Mensaje-->
        <div class="modal fade" id="mostrarmodalfile" tabindex="-1" role="dialog" 
            aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Seleccionaste Abrir Archivo desde tu Ordenador</h3>    
                    </div>
                    <div class="modal-footer">
                        <a class="col-md-2"> </a>
                        <a data-dismiss="modal" href="javascript:doClick()" class="btn btn-primary col-md-6">Cargar Archivo
                        </a><a data-dismiss="modal" href="javascript:doClick()" class="btn btn-danger col-md-6">Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <!--Componente del Modal  Mensaje-->
    <script type="text/javascript">
        Vue.component('modal-mensaje-app',{
          template: '#modalTemplate',
          props: ['modal']  
        });
    </script> 
</div>